.buttonContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 200px;
}

.buttonContainer a {
    padding: 20px 40px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 40px;
}

.buttonContainer a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}