.button {
    color: #351435;
    border: 4px solid #351435;
    position: relative;
    overflow: hidden;
    transition: all 1s;
    font-family: sans-serif;
}

.button:hover {
    color: white;
}

.button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #351435;
    height: 101%;
    width: 101%;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.button:hover:before {
    transform: translateX(0);
}